# Ignore everything
*

# except these files
!/.gitignore
!/LICENSE
!/README.md
!/DEVELOPMENT.md
!/Pipfile
!/Pipfile.lock
!/pytest.ini
!/setup.py
!/sqitch.conf
!/wsgi.py

# and these directories
!/bin/
!/dev/
!/docs/
!/lib/
!/schema/
!/tests/

# and these nested files
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yaml
