[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
sqlparse = "*"

[packages]
id3c = {editable = true,path = "."}
fhir-resources = "*"

[requires]
python_version = "3.6"
