[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
click = ">=7.0"
colorama = "*"
flask = "*"
psycopg2 = ">=2.7.7"

[requires]
python_version = "3.6"
